@use 'mixins'
@use 'variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Nunito', sans-serif

ul 
    list-style: none

a
    text-decoration: none    
    color: black

body 
    width: 100%
    min-height: 100vh
    background-color: variables.$white

    .menu
        @include mixins.flex-center
        min-width: 100%
        height: 5rem
        font-family:'Caesar Dressing', sans-serif
        justify-content: space-between
        padding: 0 1.8rem 0 1.8rem
        border-bottom: 2px solid #E2E2E2
        margin-bottom: 2rem

    .content
        @include mixins.flex-center
        flex-direction: column
        gap: 2rem
        color: variables.$gray
       
        &__news
            width: 16.5rem
            height: 26rem
           
        &__image
            @include mixins.images-shape
            width: 100%
            object-fit: cover
            margin-bottom: 1rem
            
        &__text
            color: variables.$black
            text-align: justify

        &__text-date
           
           
        &__text-title
            font-size: 1rem

    .load
        @include mixins.flex-center
        border-bottom: 2px solid #E2E2E2
        gap: 1.5rem
        height: 5rem
        margin-bottom: 1.5rem

        &__more
            text-transform: uppercase

    .base
        @include mixins.flex-center
        flex-direction: column
        text-align: center
        
        &__list
            @include mixins.flex-center
            flex-direction: column
            
        &__content
            text-transform: capitalize
           

            
       

