@use 'mixins'
@use 'fonts'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Nunito', sans-serif

ul 
    list-style: none

a
    text-decoration: none    
    color: black

body 
    width: 100%
    min-height: 100vh

    .menu
        @include mixins.flex-center
        min-width: 100%
        height: 5rem
        font-family:'Caesar Dressing', sans-serif
        justify-content: space-between
        padding: 1rem
        border-bottom: 2px solid #E2E2E2
        margin-bottom: 3rem

    .content
        @include mixins.flex-center
        flex-direction: column
        gap: 2rem
       
        &__news
           @include mixins.bg-img('img.png')
           @include mixins.news-shape 
           color: white
           padding: 1rem

        &__date
            margin-top: 11rem

        &__text
            max-width: 22rem
            margin-top: 1rem
            font-size: 1.4rem

    .load
        @include mixins.flex-center
        border-bottom: 2px solid #E2E2E2
        gap: 1.5rem
        height: 5rem
        margin-bottom: 1.5rem

        &__more
            text-transform: uppercase

    .base
        @include mixins.flex-center
        flex-direction: column
        text-align: center
        

        &__list
            @include mixins.flex-center
            flex-direction: column
            
        &__content
            text-transform: capitalize
           

            
       

